= form_with(model: blog, local: true) do |form|
  .m-3
    - if blog.errors.any?
      #error_explanation.alert.alert-danger
        %h2= "#{pluralize(blog.errors.count, "error")} prohibited this blog from begin saved:"
        %ul
          - blog.errors.full_messages.each do |message|
            %li= message

  .form-group
    = form.label :title
    = form.text_field :title, class: "form-control"

  .actions
    = form.submit "Save", class: "btn btn-primary"
