%h1
  Blogs
  - if user_signed_in?
    = link_to new_blog_path, class: "btn btn-sm btn-primary" do
      = icon('fas', 'plus')
      New Blog

= search_form_for @q, class: 'form-inline' do |f|
  = f.label :title_cont, class: 'my-1 mr-2'
  = f.search_field :title_cont, class: 'form-control mb-2 mr-sm-2'
  = f.label :user_name_cont, 'Author は以下を含む', class: 'my-1 mr-2'
  = f.search_field :user_name_cont, class: 'form-control mb-2 mr-sm-2'
  = f.submit class: 'btn btn-info mb-2 mr-sm-2'

%table.table
  %thead
    %tr
      %th{scope: "col"} Title
      %th{scope: "col"} Author
      %th{colspan: "3", scope: "col"}
        %tbody
          - @blogs.each do |blog|
            %tr{ id: "blog-row-#{blog.id}" }
              %td= blog.title
              %td= blog.user.name
              %td= link_to 'Show', blog
              - if user_signed_in? && current_user?(blog.user)
                %td= link_to 'Edit', edit_blog_path(blog)
                %td= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }
              - else
                %td
                %td
