%h1
  Blogs
  = link_to new_blog_path, class: "btn btn-sm btn-primary" do
    = icon('fas', 'plus')
    New Blog

%table.table
  %thead
    %tr
      %th{scope: "col"} Title
      %th{colspan: "3", scope: "col"}
        %tbody
          - @blogs.each do |blog|
            %tr{ id: "blog-row-#{blog.id}" }
              %td= blog.title
              %td= link_to 'Show', blog
              %td= link_to 'Edit', edit_blog_path(blog)
              %td= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }
