%main.uk-margin.uk-padding-small

  %article.uk-article

    - if notice
      .uk-alert.uk-alert-primary{"uk-alert": true}
        %a.uk-alert-close.uk-close{"uk-close": true}
        %p#notice= notice

    %h1.uk-article-title
      %strong Title:
      = @blog.title

    = link_to 'Edit', edit_blog_path(@blog)
    \|
    = link_to 'Back', blogs_path

    %hr

    %article
      %h2.uk-article-title.uk-heading-divider Listing entries

      %table.uk-table.uk-table-divider
        %thead
          %tr
            %th Title
            %th Body
            %th{colspan: "3"}
        %tbody
          - @blog.entries.each do |entry|
            %tr
              %td= entry.title
              %td= entry.body
              %td= link_to 'Show', blog_entry_path(@blog, entry)
              %td= link_to 'Edit', edit_blog_entry_path(@blog, entry)
              %td= link_to 'Destroy', blog_entry_path(@blog, entry), method: :delete, data: { confirm: 'Are you sure?' }
      = link_to 'New Entry', new_blog_entry_path(@blog)
