%h1
  = @blog.title
  - if user_signed_in? && current_user?(@blog.user)
    = link_to edit_blog_path(@blog), id: "blog-edit-link", class: "m-2 btn btn-sm btn-secondary" do
      = icon 'fas', 'edit'
      Edit

.d-flex.flex-row.mt-2
  = link_to 'Back', blogs_path, class: "btn btn-link"

.mt-2
  %h2.m-2.pt-2
    Entries
    - if user_signed_in? && current_user?(@blog.user)
      = link_to new_blog_entry_path(@blog), class: "btn btn-sm btn-primary" do
        = icon('fas', 'plus')
        New Entry

  = search_form_for @q, url: blog_path(@blog), class: 'form-inline' do |f|
    = f.label :title_cont, class: 'my-1 mr-2'
    = f.search_field :title_cont, class: 'form-control mb-2 mr-sm-2'
    = f.label :body_cont, class: 'my-1 mr-2'
    = f.search_field :body_cont, class: 'for-mcontrol mb-2 mr-sm-2'
    = f.submit

  %table.table
    %thead
      %tr
        %th{scope: "col"} Title
        %th Body
        %th{colspan: "3", scope: "col"}
    %tbody
      - @entries.each do |entry|
        %tr{ id: "entry-row-#{entry.id}" }
          %td= entry.title
          %td= entry.body
          %td= link_to 'Show', blog_entry_path(@blog, entry)
          - if user_signed_in? && current_user?(@blog.user)
            %td= link_to 'Edit', edit_blog_entry_path(@blog, entry)
            %td= link_to 'Destroy', blog_entry_path(@blog, entry), method: :delete, data: { confirm: 'Are you sure?' }
          - else
            %td
            %td
