%h1
  = @entry.title
  = link_to edit_blog_entry_path(@blog, @entry), id: "entry-edit-link", class: "m-2 btn btn-sm btn-secondary" do
    = icon 'fas', 'edit'
    Edit

%p
  = @entry.body

.d-flex.flex-row.mt-2
  = link_to 'Back', @blog, class: "btn btn-link"

.mt-2
  %h3 Comments

  %table.table
    %tbody
      - @entry.comments.each do |comment|
        %tr{ id: "comment-row-#{comment.id}" }
          - if comment.status == "approved"
            %td= comment.body
            %td
          - else
            %td (承認待ち)
            %td= link_to 'Approve', approve_blog_entry_comment_path(@blog, @entry, comment), method: :put
          %td= link_to 'Destroy', blog_entry_comment_path(@blog, @entry, comment), method: :delete, data: { confirm: 'Are you sure?' }

  .card
    .card-body
      %h4.card-title New comment
      = simple_form_for [@blog, @entry, @new_comment] do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
        = f.input :body
        = f.button :submit, class: "btn-primary"
