!!!
%html
  %head
    %title 新しいコメントが投稿されました

  %body
    %h1 新しいコメントが投稿されました。

    %p 承認または削除してください。

    %ul
      %li= "Blog: #{@blog.title}"
      %li= "Entry: #{@entry.title}"
      %li= "Comment: #{@comment.body}"
      %br
      %li
        URL:
        = link_to nil, blog_entry_url(@blog, @entry)
