!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "description", content: "Blog application created to learn Ruby on Rails." }
    %title HelloRails
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render "layouts/navbar"
    .container-fluid
      .m-3
        = render "layouts/flash"
      %main.col-12.bn-content.py-md-3{role: "main"}
        = yield
